<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<connectionStrings>

		<add name="Mystring" connectionString="Server=SQL5111.site4now.net;      user id= db_9cba9c_bcloud_admin;     password=Bcloud@123;     persist security info=True;      database=db_9cba9c_bcloud" providerName="System.Data.SqlClient" />


	</connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  
	  
	  <!--AUTHOURIZATION KEY-->
	  <add key="Authkey" value="EDBh8df8gF4GyvPiIysdrEKBbP6pA4Qxswkbd4tv8Q" />

	  <!--COMPANY INFO-->
	  <add key="COMPANYINFOGET" value="https://localhost:7088/api/IMCompanies/GetCompanies" />
	  <add key="UpdateLOGO" value="https://localhost:7088/api/Login/UpdateTicketCmpReg" />
	  <add key="LOCATIONS" value="https://localhost:7088/api/Ticket/GetTicketLocation" />

	  <!--LOGIN AND COMPANY REGISTRATION API-->
	  <add key="LOGIN" value="https://localhost:7088/api/Login/GetlOGIN" />
	  <add key="COMPANYREGISTRATION" value="https://localhost:7088/api/Login/TicketCmpReg" />

	  <!--COMPANY REGISTRATION EMAIL-->
	  <add key="EMAILURL" value="https://localhost:7088/api/Mail/SendMailCompany" />

	  <!--USERS-->
	  <add key="GETUSERSBASEDONROLE" value="https://localhost:7088/api/Ticket/GETUSERSLoginrole" />
	  <add key="GETUSERS" value="https://localhost:7088/api/Ticket/GETUSERSLogin" />
	  <add key="POSTUSERS" value="https://localhost:7088/api/Ticket/POSTUSERLOGIN" />
	  <add key="GETBYIDUSERS" value="https://localhost:7088/api/Ticket/GETBYIDUSERSLOGIN" />
	  <add key="PUTUSERS" value="https://localhost:7088/api/Ticket/PUTUSERLOGIN" />
	  <add key="DELETEUSERS" value="https://localhost:7088/api/Ticket/DELETEUSERLOGIN" />
	  <add key="ADMINCHECKBOXDELIGATE" value="https://localhost:7088/api/Ticket/PostAdmindeligate" />
	  <add key="USERSCREATECOMBO" value="https://localhost:7088/api/Role/GETROLE" />

	  <!--NEW TICKET POST API-->
	  <add key="NewTicketurl" value="https://localhost:7088/api/Ticket/CLIENTTICKETS" />

	  <!--CLIENT AND ADMIN LIST GET API-->
	  <add key="AdminTicketURL" value="https://localhost:7088/api/Ticket/GetClientsTicketsUserId" />
	  <add key="ClientTicketURL" value="https://localhost:7088/api/Ticket/GetClientsTicketsUserId" />
	  <add key="ExcelClientTicketURL" value="https://localhost:7088/api/TicketExcel/UserClientsTicketsExcel" />
	  <add key="UserClientsTicketsPdf" value="https://localhost:7088/api/TicketExcel/UserClientsTicketsPdf" />
	  <add key="ExcelAdminTicketURL" value="https://localhost:7088/api/TicketExcel/AdminClientsTicketsExcel" />
	  <add key="AdminClientsTicketsPdf" value="https://localhost:7088/api/TicketExcel/AdminClientsTicketsPdf" />
	  <add key="GetByID" value="https://localhost:7088/api/Ticket/GetClientsTickets" />
	  <add key="AdminCombo" value="https://localhost:7088/api/Ticket/GetAdminLoginByTicketTicketAgeingReportPdfApi" />
	  <add key="UpdateAssignTo" value="https://localhost:7088/api/Ticket/UpdateASIGNTOTICKETS" />
	  <add key="CUSTOMERPRODUCTCOMBO" value="https://localhost:7088/api/Customer/GetCustomerProduct" />
	  <add key="CUSTOMERPRODUCTCOMBOFORUSER" value="https://localhost:7088/api/Customer/GetCustomerProductForUser" />
	  <add key="RECENTTICKETPDF" value="https://localhost:7088/api/TicketMaterialPDF/ProcessPdf_V1" />

	  <!--ADMIN SINGLE DATA GET API-->
	  <add key="AdminGetSingleURL" value="https://localhost:7088/api/Ticket/GetAllClientsTickets" />

	  <!--ADMIN RESPONSE POST API-->
	  <add key="AdminResponse" value="https://localhost:7088/api/Ticket/UpdateCLIENTTICKETS" />

	  <!--CLIENT RESPONSE POST API-->
	  <add key="ClientResponse" value="https://localhost:7088/api/Ticket/CLIENTTICKETS" />

	  <!--CLIENT RESPONSE STATUS CHNAGE API-->
	  <add key="UpdateComboresponse" value="https://localhost:7088/api/Ticket/UpdateCLIENTTICKETSTATUS" />

	  <!--NEW TICKET COMBO BOX AND PROJECT TYPE-->
	  <add key="COMBOBOXTICKETTYPE" value="https://localhost:7088/api/Ticket/GetTicketType" />
	  <add key="COMBOBOXPROJECTTYPE" value="https://localhost:7088/api/Ticket/GetCustomerProjects" />
	  <add key="PRODUCTTYPEMAPPING" value="https://localhost:7088/api/Customer/GetCustomerlist" />
	  <add key="COMBOPRODUCTSHOW" value="https://localhost:7088/api/Ticket/GetCustomerTicketProducts" />
	  <add key="COMBOCUSTOMERS" value="https://localhost:7088/api/Ticket/GetCustomerProjects" />

	  <!--FAQ GET-->
	  <add key="FAQGET" value="https://localhost:7088/api/Ticket/GetFAQ" />
	  <add key="FAQPOST" value="https://localhost:7088/api/Ticket/FAQ" />
	  <add key="FAQDELETE" value="https://localhost:7088/api/Ticket/DeleteFAQ" />
	  <add key="FAQGETBYID" value="https://localhost:7088/api/Ticket/GetFAQbyId" />
	  <add key="FAQUPDATE" value="https://localhost:7088/api/Ticket/PutFAQ" />


	  <!--WHITEPAPER GET AND POST-->
	  <add key="GETWHITEPAPER" value="https://localhost:7088/api/Ticket/GetWhitePaper" />
	  <add key="WHITEPAPERPOST" value="https://localhost:7088/api/Ticket/WhitePaper" />
	  <add key="WHITEPAPERDELETE" value="https://localhost:7088/api/Ticket/DeleteWhitePaper" />
	  <add key="WHITEPAPERGETBYID" value="https://localhost:7088/api/Ticket/GetWhitePaperbyId" />
	  <add key="WHITEPAPERUPDATE" value="https://localhost:7088/api/Ticket/PutWhitePaper" />

	  <!--DASHBOARD-->
	  <add key="DASHBOARDGET" value="https://localhost:7088/api/Ticket/GetDashboardcount" />
	  <add key="DASHBOARDGETADMIN" value="https://localhost:7088/api/Ticket/GetDashboardAdmincount" />
	  <add key="DASHBOARDGETMANAGER" value="https://localhost:7088/api/Ticket/GetDashboardcountManager" />
	  <add key="DASHBOARDGETSUPERADMIN" value="https://localhost:7088/api/Ticket/GetDashboardSAcount" />
	  <add key="DASHBOARDMTDandWTD" value="https://localhost:7088/api/Ticket/GetDashboardcountmonthweek" />
	  <add key="DASHBOARDMTDandWTDADMIN" value="https://localhost:7088/api/Ticket/GetDashboardcountmonthweekAdmin" />
	  <add key="DASHBOARDMTDandWTDMANAGER" value="https://localhost:7088/api/Ticket/GetDashboardcountmonthweekManager" />
	  <add key="TIMELINECHART" value="https://localhost:7088/api/Ticket/GetTicketTimeline" />
	  <add key="DASHBOARDLISTTOTALTICKETS" value="https://localhost:7088/api/Ticket/GetDashboardlist" />
	  <add key="DASHBOARDSTACKEDBARCHART" value="https://localhost:7088/api/Ticket/GetPrioritytypeDashboard" />
	  <add key="DASHBOARDSTACKEDBARCHARTMANAGER" value="https://localhost:7088/api/Ticket/GetPrioritytypeDashboardmanager" />
	  <add key="DASHBOARDSTACKEDBARCHARTADMIN" value="https://localhost:7088/api/Ticket/GetPrioritytypeDashboardAdmin" />

	  <!--DASHBOARD USER-->
	  <add key="DASHBOARDGETUSER" value="https://localhost:7088/api/Ticket/GetDashboardcountuser" />
	  <add key="DASHBOARDMTDandWTDUSER" value="https://localhost:7088/api/Ticket/GetuserDashboardcountmonthweek" />
	  <add key="DASHBOARDSTACKEDBARCHARTUSER" value="https://localhost:7088/api/Ticket/GetuserPrioritytypeDashboard" />
	  <add key="DASHBOARDLISTTOTALTICKETSUSER" value="https://localhost:7088/api/Ticket/GetuserDashboardlist" />

	  <!--TICKET AUTO CLOSE-->
	  <add key="TICKETAUTOCLOSE" value="https://localhost:7088/api/Ticket/CheckAndUpdateStatus" />


	  <!-- USERGROUP-->
	  <add key="USERGROUPGET" value="https://localhost:7088/api/Role/GETROLE" />
	  <add key="USERGROUPGETBYID" value="https://localhost:7088/api/Role/GETBYIDROLE" />
	  <add key="USERGROUPGETPOST" value="https://localhost:7088/api/TicketUsergroup/Usergroup" />
	  <add key="USERGROUPGETPUT" value="https://localhost:7088/api/Role/PUTROLE" />
	  <add key="USERGROUPGETDELETE" value="https://localhost:7088/api/TicketUsergroup/DeleteTicketusergrouCONTRACTINVOICEGETp" />

	  <!--CUSTOMER MASTER-->
	  <add key="CUSTOMERGET" value="https://localhost:7088/api/Customer/GETCustomer" />
	  <add key="CUSTOMERGETBYID" value="https://localhost:7088/api/Customer/GetCustomerBYID" />
	  <add key="CUSTOMERPOST" value="https://localhost:7088/api/Customer/PostCustomer" />
	  <add key="CUSTOMERPUT" value="https://localhost:7088/api/Customer/UpdateCustomer" />
	  <add key="CUSTOMERDELETE" value="https://localhost:7088/api/Customer/DeleteCustomer" />


	  <!--CHANGE PASSWORD-->
	  <add key="CHANGEPASSWORD" value="https://localhost:7088/api/Ticket/PSSChangePassword" />

	  <!--FORGOT OTP SEND-->
	  <add key="FORGOTOTP" value="https://localhost:7088/api/Login/ForgetOTPSendMail" />
	  <add key="FORGOTOTPVERIFY" value="https://localhost:7088/api/Login/ForgetPasswordExpriy" />

	  <!--USER ADMIN MAPPING-->
	  <add key="USERADMINGET" value="https://localhost:7088/api/Ticket/GETUSER" />
	  <add key="ADMINUSERPOST" value="https://localhost:7088/api/UserAdmin/PostAdminUser" />
	  <add key="USERADMINPOST" value="https://localhost:7088/api/UserAdmin/PostUserAdmin" />
	  <add key="USERADMINPRODUCTPOST" value="https://localhost:7088/api/Ticket/PostProductteam" />
	  <add key="COMBOFORPRODUCTANDLISTVIEW" value="https://localhost:7088/api/Customer/GetCustomerlist" />
	  <add key="COMBOFORPRODUCTSELECTED" value="https://localhost:7088/api/Customer/GetCustomerlistcombo" />


	  <!--PRODUCTMASTER-->
	  <!--WORKING-->
	  <add key="PRODUCTGET" value="https://localhost:7088/api/Ticket/GetTicketProduct" />
	  <add key="GETPRODUCTADMIN" value="https://localhost:7088/api/Ticket/GetProductAdmin" />
	  <!--<add key="PRODUCTGET" value="https://localhost:7088/api/Ticket/GetProductAdmin" />-->
	  <add key="PRODUCTGETBYID" value="https://localhost:7088/api/Ticket/GetTicketProductMasterbyId" />
	  <add key="PRODUCTPOST" value="https://localhost:7088/api/Ticket/TicketProduct" />
	  <add key="PRODUCTPUT" value="https://localhost:7088/api/Ticket/PutTicketProduct" />
	  <add key="PRODUCTDELETE" value="https://localhost:7088/api/Ticket/DeleteTicketProduct" />
	  <add key="VIEW" value="https://localhost:7088/api/Ticket/GetProductuserlist" />

	  <!--MATERIAL CATEGORY-->
	  <add key="MATERIALCATEGORYGET" value="https://localhost:7088/api/TicketMaterialCategory/GetMaterialCategory" />
	  <add key="MATERIALCATEGORYPOST" value="https://localhost:7088/api/TicketMaterialCategory/PostMaterialCategory" />
	  <add key="MATERIALCATEGORYGETBYID" value="https://localhost:7088/api/TicketMaterialCategory/GetbyIDMaterialCategory" />
	  <add key="MATERIALCATEGORYGETPUT" value="https://localhost:7088/api/TicketMaterialCategory/UpdateMaterialCategory" />
	  <add key="MATERIALCATEGORYGETDELETE" value="https://localhost:7088/api/TicketMaterialCategory/DeleteMaterialCategory" />

	  <!--MATERIAL-->
	  <add key="MATERIALGET" value="https://localhost:7088/api/TicketMaterial/GetMaterial" />
	  <add key="MATERIALPOST" value="https://localhost:7088/api/TicketMaterial/PostMaterial" />
	  <add key="MATERIALBYID" value="https://localhost:7088/api/TicketMaterial/GetbyIDMaterial" />
	  <add key="MATERIALPUT" value="https://localhost:7088/api/TicketMaterial/UpdateMaterial" />
	  <add key="MATERIALDELETE" value="https://localhost:7088/api/TicketMaterial/DeleteMaterial" />
	  <add key="MATERIALTYPECOMBO" value="https://localhost:7088/api/TicketMaterial/GetMaterialtype" />
	  <add key="MATERIALMAPPINGLISTFORPRODUCT" value="https://localhost:7088/api/MATERIALPRODUCT/GetMaterialproductlist" />
	  <add key="MATERIALMAPPINGLISTFORPRODUCTPOST" value="https://localhost:7088/api/MATERIALPRODUCT/PostMaterialproduct" />

	  <!--MATERIAL CONSUMPTION-->
	  <add key="MATERIALCONSUMPTIONGET" value="https://localhost:7088/api/TicketMaterialConsumption/GetTicketMaterial" />
	  <add key="MATERIALCONSUMPTIONPOST" value="https://localhost:7088/api/TicketMaterialConsumption/PostTicketMaterial" />
	  <add key="MATERIALCONSUMPTIONBYID" value="https://localhost:7088/api/TicketMaterialConsumption/GetbyIDTicketMaterial" />
	  <add key="MATERIALCONSUMPTIONPUT" value="https://localhost:7088/api/TicketMaterialConsumption/UpdateTicketMaterial" />
	  <add key="MATERIALCONSUMPTIONDELETE" value="https://localhost:7088/api/TicketMaterialConsumption/DeleteTicketMaterial" />

	  <!--CONTRACT-->
	  <add key="CONTRACTDASHBOARD" value="https://localhost:7088/api/Contract/GETCONTRACTDASHBOARDCOUNT" />
	  <add key="CONTRACTSTACKEDBAR" value="https://localhost:7088/api/Contract/ContracrStackedBar" />
	  <add key="CONTRACTGET" value="https://localhost:7088/api/Contract/GETContract" />
	  <add key="CONTRACTPOST" value="https://localhost:7088/api/Contract/PostContract" />
	  <add key="CONTRACTGETBYID" value="https://localhost:7088/api/Contract/GetContractBYID" />
	  <add key="CONTRACTPUT" value="https://localhost:7088/api/Contract/UpdateContract" />
	  <add key="CONTRACTDELETE" value="https://localhost:7088/api/Contract/DeleteContract" />
	  <add key="YETTOINVOICE" value="https://localhost:7088/api/Contract/YETTOINVOICE" />
	  <add key="GetContractExpiryCount" value="https://localhost:7088/api/Contract/GetContractExpiryCount" />
	  <add key="SendContractExpiryMails" value="https://localhost:7088/api/Contract/SendContractExpiryMails" />
	  <add key="SendContractExpiryMails" value="https://localhost:7088/api/Contract/SendFollowupReminderMails" />

	  <!--CONTRACT INVOICE-->
	  <add key="CONTRACTINVOICEGET" value="https://localhost:7088/api/ContractInvoice/GETContractInvoice" />
	  <add key="CONTRACTINVOICEPOST" value="https://localhost:7088/api/ContractInvoice/PostContractInvoice" />
	  <add key="CONTRACTINVOICEGETBYID" value="https://localhost:7088/api/ContractInvoice/GetContractInvoiceBYID" />
	  <add key="CONTRACTINVOICEPUT" value="https://localhost:7088/api/ContractInvoice/UpdateContractInvoice" />
	  <add key="CONTRACTINVOICEDELETE" value="https://localhost:7088/api/ContractInvoice/DeleteContractInvoice" />
	  <add key="LOCATIONTYPE" value="https://localhost:7088/api/Ticket/GetLocationDetail" />
	  <add key="LOCATIONREF" value="https://localhost:7088/api/Ticket/GetLocationList" />

	  <!--HELPDESK-->
	  <add key="HELPDESKDASHBOARD" value="https://localhost:7088/api/HelpDesk/HELPDESKDASHBOARDCOUNT" />
	  <add key="HELPDESKSTACKEDBAR" value="https://localhost:7088/api/HelpDesk/HDPRIORITYTYPEDASHBOARD" />
	  <add key="HELPDESKWDMD" value="https://localhost:7088/api/HelpDesk/GetDashboardcountmonthweekHD" />
	  <add key="HELPDESKNEWTICKETPRODUCT" value="https://localhost:7088/api/HelpDesk/GetTicketProductAll" />
	  <add key="UpdateComboresponseHD" value="https://localhost:7088/api/HelpDesk/UpdateCLIENTTICKETSTATUS" />
	  <add key="GETUSERSALL" value="https://localhost:7088/api/HelpDesk/GetUserAll" />

	  <!--Ticket Rating-->
	  <add key="UpdateRatings" value="https://localhost:7088/api/Ticket/RATINGCLIENTTICKETSTATUS" />

	  <!--USER MANAGER -->
	  <add key="USERMANAGERGET" value="https://localhost:7088/api/Ticket/GetUserManager" />
	  <add key="USERMANAGERCOUNTDASHBOARD" value="https://localhost:7088/api/Ticket/GetDashboardcountusermanager" />
	  <add key="DASHBOARDMTDandWTDUSERMANAGER" value="https://localhost:7088/api/Ticket/GetuserManagerDashboardcountmonthweek" />
	  <add key="DASHBOARDSTACKEDBARCHARTUSERMANAGER" value="https://localhost:7088/api/Ticket/GetusermanagerPrioritytypeDashboard" />
	  <!--SERVICE INVOICE-->
	  <add key="SERVICEINVOICELIST" value="https://localhost:7088/api/Customer/GetAccountantTickets" />
	  <add key="GENERATEPDF" value="https://localhost:7088/api/Customer/GetAccountantPDFData" />
	  <add key="DOWNLOADPDF" value="https://localhost:7088/api/TicketMaterialPDF/ProcessPdf_V1" />
	  <add key="GETPAYMENT" value="https://localhost:7088/api/Ticket/GetPayment" />
	  <add key="UPDATEPAYMENT" value="https://localhost:7088/api/Ticket/UpdatePayment" />
	  
	  
	  <!--SERVICE INVOICE-->
	  <add key="GetCustomerNotification" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/GetCustomerNotification" />
	  <add key="CustomerNotification" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/CustomerNotification" />
	  <add key="PutCustomerNotification" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/PutCustomerNotification" />
	  <add key="GetCustomerNotificationbyId" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/GetCustomerNotificationbyId" />
	  <add key="DeleteCustomerNotification" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/DeleteCustomerNotification" />
	  <add key="GetCustomerNotificationFollowUpReport" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/GetCustomerNotificationFollowUpReport" />
	  <add key="GenerateFollowUpReportPdf" value="https://localhost:7088/api/CUSTOMERNOTIFICATION/GenerateFollowUpReportPdf" />

	  <!--PICK TICKET-->
	  <add key="PICKTICKET" value="https://localhost:7088/api/Ticket/UpdatePICKTICKETS" />

		<!--ItemGroup-->
	  <add key="GETITEMGROUP" value="https://localhost:7088/api/GSTITEMGROUP/GetGSTItemGroup" />

	  <!--HSNCATEGORY-->
	  <add key="GetHSNCategory" value="https://localhost:7088/api/HSN/GetHSNCategory" />
	  <add key="PostHSNCategory" value="https://localhost:7088/api/HSN/PostHSNCategory" />
	  <add key="GetByIdHSNCAT" value="https://localhost:7088/api/HSN/GetHSNCategoryByID" />
	  <add key="UpdateHSNCategory" value="https://localhost:7088/api/HSN/UpdateHSNCategory" />
	  <add key="DeleteHSNCategory" value="https://localhost:7088/api/HSN/DeleteHSNCategory" />
	  <add key="HSNCATEGORYBULKUPLOAD" value="https://localhost:7088/api/HSN/PostHSNCategorys" />

	  <!--HSNMASTER-->
	  <add key="GETHSN" value="https://localhost:7088/api/HSN/GetHSNMASTERS" />
	  <add key="GETHSNLOOKUP" value="https://localhost:7088/api/HSN/GetHSNMASTER" />
	  <add key="POSTHSN" value="https://localhost:7088/api/HSN/PostHSNMASTER" />
	  <add key="GETBYIDHSN" value="https://localhost:7088/api/HSN/GetHSNMASTERByID" />
	  <add key="PUTHSN" value="https://localhost:7088/api/HSN/UpdateHSNMASTER" />
	  <add key="DELETEHSN" value="https://localhost:7088/api/HSN/DeleteHsnmaster" />
	  <add key="BULKUPLOADHSNMASTER" value="https://localhost:7088/api/HSN/PostHSNMasters" />

	  <!--Item Category-->
	  <add key="ITEMCATEGORYGET" value="https://localhost:7088/api/GSTItemCategory/GetGSTItemCategory" />
	  <add key="ITEMCATEGORYPOST" value="https://localhost:7088/api/GSTItemCategory/PostGSTItemCategory" />
	  <add key="ITEMCATEGORYDELETE" value="https://localhost:7088/api/GSTItemCategory/DeleteGSTItemCategory" />
	  <add key="ITEMCATEGORYGETBYID" value="https://localhost:7088/api/GSTItemCategory/GetGSTItemCategoryByID" />
	  <add key="ITEMCATEGORYPUT" value="https://localhost:7088/api/GSTItemCategory/UpdateGSTItemCategory" />
	  <!--<add key="PostBulkItemCategory" value="https://localhost:7088/api/ItemCategory/" />-->
	  <add key="PostBulkItemCategory" value="https://localhost:7088/api/GSTItemCategory/PostGSTBulkItemCategory" />
	  <add key="UpdateServiceGSTItem" value="https://localhost:7088/api/GSTItem/UpdateServiceGSTItem" />

	  <!--ITEM-->
	  <add key="ITEMCOMBO" value="https://localhost:7088/api/Item/GetItemCombo" />
	  <add key="GETITEM" value="https://localhost:7088/api/GSTItem/GetSMITEMS" />
	  <add key="GETBYIDITEM" value="https://localhost:7088/api/GSTItem/GetSMItemByID" />
	  <!--<add key="POSTITEM" value="https://localhost:7088/api/GSTItem/PostGSTItem" />-->
	  <add key="POSTITEM" value="https://localhost:7088/api/GSTItem/PostSMItem" />
	  <add key="UPDATESTOCKITEM" value="https://localhost:7088/api/GSTItem/UpdateStockGSTItem" />
	  <add key="PUTITEM" value="https://localhost:7088/api/GSTItem/UpdateSMItem" />
	  <add key="DELETEITEM" value="https://localhost:7088/api/GSTItem/DeleteGSTItem" />
	  <!--<add key="PostBulkItem" value="https://localhost:7088/api/Item/" />-->
	  <add key="GetVI_HSN" value="https://localhost:7088/api/Login/GetVI_HSN" />
	  <add key="UpdateFlagItem" value="https://localhost:7088/api/GSTItem/UpdateGSTItemFlag" />
	  <add key="PostBulkItem" value="https://localhost:7088/api/GSTItem/PostGSTBulkItem" />
	  <add key="UpdateServiceGSTItem" value="https://localhost:7088/api/GSTItem/UpdateServiceGSTItem" />
	  
	  <!--ITEM GROUP COMBO-->
	  <add key="ITEMGROUPCOMBO" value="https://localhost:7088/api/GSTITEMGROUP/GetGSTItemGroup" />
	  <add key="ITEMCATEGORYCOMBO" value="https://localhost:7088/api/GSTItemCategory/GetGSTItemCategory" />
	  <add key="ITEMCOMBO" value="https://localhost:7088/api/GSTItem/GetSMITEMS" />	 
	  
	  <!--Report-->
	  <add key="HELPDESKCUSTOMERREPORTPDF" value="https://localhost:7088/api/HelpdeskReport/HELPDESKCUSTOMERREPORTPDF" />
	  <add key="TicketAgeingReportPdfApi" value="https://localhost:7088/MANAGERSAGEINGREPORTPDF" />
	  <add key="TicketTrend" value="https://localhost:7088/TicketTrend" />
	  <!--<add key="TicketAgeingReportPdfApi" value="https://localhost:7088/api/TicketAgingReport/MANAGERSAGEINGREPORTPDF" />-->

	  <!--PRIORITY WISE REPORT-->
	  <add key="PRIORITYREPORT" value="https://localhost:7088/api/PriorityWiseReport/PRIORITYWISEREPORTPDF" />

	  <!--CONTRACT EXPIRY REPORT-->
	  <add key="CONTRACTEXPIRYREPORT" value="https://localhost:7088/api/ContractExpiryReport/CONTRACTEXPIRYWISEREPORTPDF" />

	  <!--CONTRACT EXPIRY REPORT-->
	  <add key="PRODUCTFINANCEREPORT" value="https://localhost:7088/api/ContractExpiryReport/PRODUCTFINANCEWISEREPORTPDF" />
	  <add key="CUSTOMERFINANCEREPORT" value="https://localhost:7088/api/ContractExpiryReport/CUSTOMERFINANCEWISEREPORTPDF" />
	  <add key="PRODUCTGETCOMBO" value="https://localhost:7088/api/ContractExpiryReport/GetProduct" />
	  <add key="PRODUCTGETCONTRACT" value="https://localhost:7088/api/ContractExpiryReport/GetProductContract" />
	  <add key="CONTRACTGETCOMBO" value="https://localhost:7088/api/ContractExpiryReport/GetContract" />
	  <add key="CUSTOMERGETCONTRACT" value="https://localhost:7088/api/ContractExpiryReport/GETCustomerContract" />
	  <add key="CUSTOMERGETCOMBO" value="https://localhost:7088/api/ContractExpiryReport/GETCustomer" />
	  <add key="CUSTOMERGETPRODUCT" value="https://localhost:7088/api/ContractExpiryReport/GETCustomerProduct" />
	  <add key="GETMATERIALSCOMBO" value="https://localhost:7088/api/ContractExpiryReport/GetSMITEMS" />
	  <add key="SERVICEPRODUCTREPORT" value="https://localhost:7088/api/BillableNonBillableReport/BILLABLENONBILLABLEREPORTPDF" />
	  <add key="SUBORDINATEREPORT" value="https://localhost:7088/api/ManagerReport/MANAGERSUBORDINATEREPORTPDF" />
	  
	  
	  
  </appSettings>
  <system.web>
	  <sessionState mode="InProc" timeout="60" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  <pages>
      <namespaces>
        <add namespace="GridMvc" />
	  </namespaces>
    </pages></system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>