<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

	<connectionStrings>
		<add name="Mystring" connectionString="Server=SQL5110.site4now.net;      user id= db_9cba9c_bclouddev_admin;     password=Bcloud@123;     persist security info=True;      database=db_9cba9c_bclouddev" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  
	  
	  <!--AUTHOURIZATION KEY-->
	  <add key="Authkey" value="EDBh8df8gF4GyvPiIysdrEKBbP6pA4Qxswkbd4tv8Q" />


		<!--COMPANY INFO-->
		<add key="COMPANYINFOGET" value="https://yogeshkumar15-001-site1.site4future.com/api/IMCompanies/GetCompanies" />
		<add key="UpdateLOGO" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/UpdateTicketCmpReg" />
		<add key="LOCATIONS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetTicketLocation" />

		<!--LOGIN AND COMPANY REGISTRATION API-->
		<add key="LOGIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/GetlOGIN" />
		<add key="COMPANYREGISTRATION" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/TicketCmpReg" />

		<!--COMPANY REGISTRATION EMAIL-->
		<add key="EMAILURL" value="https://yogeshkumar15-001-site1.site4future.com/api/Mail/SendMailCompany" />

		<!--USERS-->
		<add key="GETUSERSBASEDONROLE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GETUSERSLoginrole" />
		<add key="GETUSERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GETUSERSLogin" />
		<add key="POSTUSERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/POSTUSERLOGIN" />
		<add key="GETBYIDUSERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GETBYIDUSERSLOGIN" />
		<add key="PUTUSERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PUTUSERLOGIN" />
		<add key="DELETEUSERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/DELETEUSERLOGIN" />
		<add key="ADMINCHECKBOXDELIGATE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PostAdmindeligate" />
		<add key="USERSCREATECOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/Role/GETROLE" />
		<add key="LOCATIONTYPECOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetLocationDetailForUserlogin" />

		<!--NEW TICKET POST API-->
		<add key="NewTicketurl" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/CLIENTTICKETS" />

		<!--CLIENT AND ADMIN LIST GET API-->
		<add key="AdminTicketURL" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetClientsTicketsUserId" />
		<add key="ClientTicketURL" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetClientsTicketsUserId" />
		<add key="ExcelClientTicketURL" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketExcel/UserClientsTicketsExcel" />
		<add key="ExcelCustomer" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GETCustomerExcel" />
		<add key="UserClientsTicketsPdf" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketExcel/UserClientsTicketsPdf" />
		<add key="ExcelAdminTicketURL" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketExcel/AdminClientsTicketsExcel" />
		<add key="AdminClientsTicketsPdf" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketExcel/AdminClientsTicketsPdf" />
		<add key="GetByID" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetClientsTickets" />
		<add key="AdminCombo" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetAdminLoginByTicketTicketAgeingReportPdfApi" />
		<add key="AdminCombo1" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetAdminLoginByTicket" />
		<add key="UpdateAssignTo" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/UpdateASIGNTOTICKETS" />
		<add key="CUSTOMERPRODUCTCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerProduct" />
		<add key="CUSTOMERPRODUCTCOMBOFORUSER" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerProductForUser" />
		<add key="RECENTTICKETPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/ProcessPdf_V1" />
		<add key="RECENTTICKETPDFDRAFT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/ProcessPdf_V2" />
		<add key="TICCONTRACTPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/ProcessPdf_V3" />
		<add key="TICWARRANTYPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/ProcessPdf_V4" />

		<!--ADMIN SINGLE DATA GET API-->
		<add key="AdminGetSingleURL" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetAllClientsTickets" />

		<!--ADMIN RESPONSE POST API-->
		<add key="AdminResponse" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/UpdateCLIENTTICKETS" />

		<!--CLIENT RESPONSE POST API-->
		<add key="ClientResponse" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/CLIENTTICKETS" />

		<!--CLIENT RESPONSE STATUS CHNAGE API-->
		<add key="UpdateComboresponse" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/UpdateCLIENTTICKETSTATUS" />

		<!--NEW TICKET COMBO BOX AND PROJECT TYPE-->
		<add key="COMBOBOXTICKETTYPE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetTicketType" />
		<add key="COMBOBOXPROJECTTYPE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetCustomerProjects" />
		<add key="PRODUCTTYPEMAPPING" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerlist" />
		<add key="COMBOPRODUCTSHOW" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetCustomerTicketProducts" />
		<add key="COMBOCUSTOMERS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetCustomerProjects" />

		<!--FAQ GET-->
		<add key="FAQGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetFAQ" />
		<add key="FAQPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/FAQ" />
		<add key="FAQDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/DeleteFAQ" />
		<add key="FAQGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetFAQbyId" />
		<add key="FAQUPDATE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PutFAQ" />


		<!--WHITEPAPER GET AND POST-->
		<add key="GETWHITEPAPER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetWhitePaper" />
		<add key="WHITEPAPERPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/WhitePaper" />
		<add key="WHITEPAPERDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/DeleteWhitePaper" />
		<add key="WHITEPAPERGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetWhitePaperbyId" />
		<add key="WHITEPAPERUPDATE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PutWhitePaper" />

		<!--DASHBOARD-->
		<add key="DASHBOARDGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcount" />
		<add key="DASHBOARDGETADMIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardAdmincount" />
		<add key="DASHBOARDGETMANAGER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountManager" />
		<add key="DASHBOARDGETSUPERADMIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardSAcount" />
		<add key="DASHBOARDMTDandWTD" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountmonthweek" />
		<add key="DASHBOARDMTDandWTDADMIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountmonthweekAdmin" />
		<add key="DASHBOARDMTDandWTDMANAGER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountmonthweekManager" />
		<add key="TIMELINECHART" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetTicketTimeline" />
		<add key="DASHBOARDLISTTOTALTICKETS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardlist" />
		<add key="DASHBOARDSTACKEDBARCHART" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetPrioritytypeDashboard" />
		<add key="DASHBOARDSTACKEDBARCHARTMANAGER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetPrioritytypeDashboardmanager" />
		<add key="DASHBOARDSTACKEDBARCHARTADMIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetPrioritytypeDashboardAdmin" />

		<!--DASHBOARD USER-->
		<add key="DASHBOARDGETUSER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountuser" />
		<add key="DASHBOARDMTDandWTDUSER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetuserDashboardcountmonthweek" />
		<add key="DASHBOARDSTACKEDBARCHARTUSER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetuserPrioritytypeDashboard" />
		<add key="DASHBOARDLISTTOTALTICKETSUSER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetuserDashboardlist" />

		<!--TICKET AUTO CLOSE-->
		<add key="TICKETAUTOCLOSE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/CheckAndUpdateStatus" />


		<!-- USERGROUP-->
		<add key="USERGROUPGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Role/GETROLE" />
		<add key="USERGROUPGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Role/GETBYIDROLE" />
		<add key="USERGROUPGETPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketUsergroup/Usergroup" />
		<add key="USERGROUPGETPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Role/PUTROLE" />
		<add key="USERGROUPGETDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketUsergroup/DeleteTicketusergrouCONTRACTINVOICEGETp" />

		<!--CUSTOMER MASTER-->
		<add key="CUSTOMERGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GETCustomer" />
		<add key="CUSTOMERGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerBYID" />
		<add key="CUSTOMERPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PostCustomer" />
		<add key="CUSTOMERPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/UpdateCustomer" />
		<add key="CUSTOMERDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/DeleteCustomer" />

		<!--Sales Invoice MASTER-->
		<add key="INVOICEPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PostSalesinvoiceheader" />
		<add key="INVOICEGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetSalesinvoiceheaderbyId" />
		<add key="INVOICECUSTOMERGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetSalesinvoiceWithCustomer" />
		<add key="INVOICEGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GETSalesinvoiceheader" />
		<add key="INVOICEPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PutSalesinvoiceheader" />
		<add key="CUSTOMERPRODUCTPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/UpdateCustomerproduct" />
		<add key="SALESINVOICEHEADERPROCESS" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/Salesinvoiceheaderprocess" />
		<add key="SALESINVOICEHEADERUNLOCK" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/Salesinvoiceheaderunlock" />
		<add key="INVOICEDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/DeleteSalesinvoiceheader" />

		<!--Sales Invoice Product-->
		<add key="INVOICEPRODUCTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GETSalesinvoiceproduct" />
		<add key="GETCUSTOMERBYEMAIL" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerByEmail" />
		<add key="CUSTOMERPRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PostCustomerproduct" />
		<add key="SALESPRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PostSalesProduct" />
		<add key="GETSALESPRODUCTWITHCUSTOMER" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetSalesProductWithCustomer" />
		<add key="UPDATESALES" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/UpdateSalesProduct" />
		<add key="INVOICEPRODUCTDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/DeleteSalesinvoiceproduct" />
		<add key="PRODUCTINVOICEGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetProductInvoiceDetails" />
		<add key="PROCESSINVOICEPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/ProcessInvoicePdf" />


		<!--CHANGE PASSWORD-->
		<add key="CHANGEPASSWORD" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PSSChangePassword" />

		<!--FORGOT OTP SEND-->
		<add key="FORGOTOTP" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/ForgetOTPSendMail" />
		<add key="FORGOTOTPVERIFY" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/ForgetPasswordExpriy" />

		<!--USER ADMIN MAPPING-->
		<add key="USERADMINGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GETUSER" />
		<add key="ADMINUSERPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/UserAdmin/PostAdminUser" />
		<add key="USERADMINPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/UserAdmin/PostUserAdmin" />
		<add key="USERADMINPRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PostProductteam" />
		<add key="COMBOFORPRODUCTANDLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerlist" />
		<add key="COMBOFORPRODUCTSELECTED" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerlistcombo" />


		<!--PRODUCTMASTER-->
		<!--WORKING-->
		<add key="PRODUCTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetTicketProduct" />
		<add key="GETPRODUCTADMIN" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetProductAdmin" />
		<!--<add key="PRODUCTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetProductAdmin" />-->
		<add key="PRODUCTGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetTicketProductMasterbyId" />
		<add key="PRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/TicketProduct" />
		<add key="PRODUCTPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/PutTicketProduct" />
		<add key="PRODUCTDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/DeleteTicketProduct" />
		<add key="VIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetProductuserlist" />

		<!--MATERIAL CATEGORY-->
		<add key="MATERIALCATEGORYGET" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialCategory/GetMaterialCategory" />
		<add key="MATERIALCATEGORYPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialCategory/PostMaterialCategory" />
		<add key="MATERIALCATEGORYGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialCategory/GetbyIDMaterialCategory" />
		<add key="MATERIALCATEGORYGETPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialCategory/UpdateMaterialCategory" />
		<add key="MATERIALCATEGORYGETDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialCategory/DeleteMaterialCategory" />

		<!--MATERIAL-->
		<add key="MATERIALGET" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/GetMaterial" />
		<add key="MATERIALPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/PostMaterial" />
		<add key="MATERIALBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/GetbyIDMaterial" />
		<add key="MATERIALPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/UpdateMaterial" />
		<add key="MATERIALDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/DeleteMaterial" />
		<add key="MATERIALTYPECOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterial/GetMaterialtype" />
		<add key="MATERIALMAPPINGLISTFORPRODUCT" value="https://yogeshkumar15-001-site1.site4future.com/api/MATERIALPRODUCT/GetMaterialproductlist" />
		<add key="MATERIALMAPPINGLISTFORPRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/MATERIALPRODUCT/PostMaterialproduct" />

		<!--MATERIAL CONSUMPTION-->
		<add key="MATERIALCONSUMPTIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/GetTicketMaterial" />
		<add key="MATERIALCONSUMPTIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/PostTicketMaterial" />
		<add key="MATERIALCONSUMPTIONBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/GetbyIDTicketMaterial" />
		<add key="MATERIALCONSUMPTIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/UpdateTicketMaterial" />
		<add key="MATERIALCONSUMPTIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/DeleteTicketMaterial" />

		<!--CONTRACT-->
		<add key="CONTRACTDASHBOARD" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/GETCONTRACTDASHBOARDCOUNT" />
		<add key="CONTRACTSTACKEDBAR" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ContracrStackedBar" />
		<add key="CONTRACTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/GETContract" />
		<add key="CONTRACTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/PostContract" />
		<add key="CONTRACTGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/GetContractBYID" />
		<add key="CONTRACTPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/UpdateContract" />
		<add key="CONTRACTDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/DeleteContract" />
		<add key="YETTOINVOICE" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/YETTOINVOICE" />
		<add key="GetContractExpiryCount" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/GetContractExpiryCount" />
		<add key="SendContractExpiryMails" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/SendContractExpiryMails" />
		<add key="SendContractExpiryMails" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/SendFollowupReminderMails" />

		<!--CONTRACT INVOICE-->
		<add key="CONTRACTINVOICEGET" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractInvoice/GETContractInvoice" />
		<add key="CONTRACTINVOICEPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractInvoice/PostContractInvoice" />
		<add key="CONTRACTINVOICEGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractInvoice/GetContractInvoiceBYID" />
		<add key="CONTRACTINVOICEPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractInvoice/UpdateContractInvoice" />
		<add key="CONTRACTINVOICEDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractInvoice/DeleteContractInvoice" />
		<add key="LOCATIONTYPE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetLocationDetail" />
		<add key="LOCATIONREF" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetLocationList" />

		<!--HELPDESK-->
		<add key="HELPDESKDASHBOARD" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/HELPDESKDASHBOARDCOUNT" />
		<add key="HELPDESKSTACKEDBAR" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/HDPRIORITYTYPEDASHBOARD" />
		<add key="HELPDESKWDMD" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/GetDashboardcountmonthweekHD" />
		<add key="HELPDESKNEWTICKETPRODUCT" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/GetTicketProductAll" />
		<add key="UpdateComboresponseHD" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/UpdateCLIENTTICKETSTATUS" />
		<add key="GETUSERSALL" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpDesk/GetUserAll" />

		<!--Ticket Rating-->
		<add key="UpdateRatings" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/RATINGCLIENTTICKETSTATUS" />

		<!--USER MANAGER -->
		<add key="USERMANAGERGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetUserManager" />
		<add key="USERMANAGERCOUNTDASHBOARD" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetDashboardcountusermanager" />
		<add key="DASHBOARDMTDandWTDUSERMANAGER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetuserManagerDashboardcountmonthweek" />
		<add key="DASHBOARDSTACKEDBARCHARTUSERMANAGER" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetusermanagerPrioritytypeDashboard" />
		<!--SERVICE INVOICE-->
		<add key="SERVICEINVOICELIST" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetAccountantTickets" />
		<add key="GENERATEPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetAccountantPDFData" />
		<add key="VIEWDATA" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetAccountantViewData" />
		<add key="GETCOMBOCUSTOMER" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetComboCustomer" />
		<add key="DOWNLOADPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/ProcessPdf_V1" />
		<add key="STATUSUPDATE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialPDF/StatusUpdate" />
		<add key="GETPAYMENT" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetPayment" />
		<add key="UPDATEPAYMENT" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/UpdatePayment" />


		<!--SERVICE INVOICE-->
		<add key="GetCustomerNotification" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/GetCustomerNotification" />
		<add key="CustomerNotification" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/CustomerNotification" />
		<add key="PutCustomerNotification" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/PutCustomerNotification" />
		<add key="GetCustomerNotificationbyId" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/GetCustomerNotificationbyId" />
		<add key="DeleteCustomerNotification" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/DeleteCustomerNotification" />
		<add key="GetCustomerNotificationFollowUpReport" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/GetCustomerNotificationFollowUpReport" />
		<add key="GenerateFollowUpReportPdf" value="https://yogeshkumar15-001-site1.site4future.com/api/CUSTOMERNOTIFICATION/GenerateFollowUpReportPdf" />

		<!--PICK TICKET-->
		<add key="PICKTICKET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/UpdatePICKTICKETS" />

		<!--ItemGroup-->
		<add key="GETITEMGROUP" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTITEMGROUP/GetGSTItemGroup" />

		<!--HSNCATEGORY-->
		<add key="GetHSNCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/GetHSNCategory" />
		<add key="PostHSNCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/PostHSNCategory" />
		<add key="GetByIdHSNCAT" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/GetHSNCategoryByID" />
		<add key="UpdateHSNCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/UpdateHSNCategory" />
		<add key="DeleteHSNCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/DeleteHSNCategory" />
		<add key="HSNCATEGORYBULKUPLOAD" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/PostHSNCategorys" />

		<!--HSNMASTER-->
		<add key="GETHSN" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/GetHSNMASTERS" />
		<add key="GETHSNLOOKUP" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/GetHSNMASTER" />
		<add key="POSTHSN" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/PostHSNMASTER" />
		<add key="GETBYIDHSN" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/GetHSNMASTERByID" />
		<add key="PUTHSN" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/UpdateHSNMASTER" />
		<add key="DELETEHSN" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/DeleteHsnmaster" />
		<add key="BULKUPLOADHSNMASTER" value="https://yogeshkumar15-001-site1.site4future.com/api/HSN/PostHSNMasters" />

		<!--Item Category-->
		<add key="ITEMCATEGORYGET" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/GetGSTItemCategory" />
		<add key="ITEMCATEGORYPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/PostGSTItemCategory" />
		<add key="ITEMCATEGORYDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/DeleteGSTItemCategory" />
		<add key="ITEMCATEGORYGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/GetGSTItemCategoryByID" />
		<add key="ITEMCATEGORYPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/UpdateGSTItemCategory" />
		<!--<add key="PostBulkItemCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/ItemCategory/" />-->
		<add key="PostBulkItemCategory" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/PostGSTBulkItemCategory" />
		<add key="UpdateServiceGSTItem" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/UpdateServiceGSTItem" />

		<!--ITEM-->
		<add key="ITEMCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/Item/GetItemCombo" />
		<add key="GETITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/GetSMITEMS" />
		<add key="GETBYIDITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/GetSMItemByID" />
		<!--<add key="POSTITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/PostGSTItem" />-->
		<add key="POSTITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/PostSMItem" />
		<add key="UPDATESTOCKITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/UpdateStockGSTItem" />
		<add key="PUTITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/UpdateSMItem" />
		<add key="DELETEITEM" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/DeleteGSTItem" />
		<!--<add key="PostBulkItem" value="https://yogeshkumar15-001-site1.site4future.com/api/Item/" />-->
		<add key="GetVI_HSN" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/GetVI_HSN" />
		<add key="UpdateFlagItem" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/UpdateGSTItemFlag" />
		<add key="PostBulkItem" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/PostGSTBulkItem" />
		<add key="UpdateServiceGSTItem" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/UpdateServiceGSTItem" />

		<!--ITEM GROUP COMBO-->
		<add key="ITEMGROUPCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTITEMGROUP/GetGSTItemGroup" />
		<add key="ITEMCATEGORYCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItemCategory/GetGSTItemCategory" />
		<add key="ITEMCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/GSTItem/GetSMITEMS" />

		<!--Report-->
		<add key="HELPDESKCUSTOMERREPORTPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/HelpdeskReport/HELPDESKCUSTOMERREPORTPDF" />
		<add key="TicketAgeingReportPdfApi" value="https://yogeshkumar15-001-site1.site4future.com/MANAGERSAGEINGREPORTPDF" />
		<add key="TicketAgeingReportPdfApiListView" value="https://yogeshkumar15-001-site1.site4future.com/MANAGERSAGEINGREPORTLISTVIEW" />
		<add key="TicketTrend" value="https://yogeshkumar15-001-site1.site4future.com/TicketTrend" />
		<!--<add key="TicketAgeingReportPdfApi" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketAgingReport/MANAGERSAGEINGREPORTPDF" />-->

		<!--PRIORITY WISE REPORT-->
		<add key="PRIORITYREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/PriorityWiseReport/PRIORITYWISEREPORTPDF" />
		<add key="PRIORITYREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/PriorityWiseReport/PRIORITYWISEREPORTLISTVIEW" />

		<!--CONTRACT EXPIRY REPORT-->
		<add key="CONTRACTEXPIRYREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/CONTRACTEXPIRYWISEREPORTPDF" />
		<add key="CONTRACTEXPIRYREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/CONTRACTEXPIRYWISEREPORTLISTVIEW" />

		<!--CONTRACT EXPIRY REPORT-->
		<add key="PRODUCTFINANCEREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/PRODUCTFINANCEWISEREPORTPDF" />
		<add key="PRODUCTFINANCEREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/PRODUCTFINANCEWISEREPORTLISTVIEW" />
		<add key="CUSTOMERFINANCEREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/CUSTOMERFINANCEWISEREPORTPDF" />
		<add key="CUSTOMERFINANCEREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/CUSTOMERFINANCEWISEREPORTLISTVIEW" />
		<add key="PRODUCTGETCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GetProduct" />
		<add key="GETCOMBOPRODUCTBASEDPRODUCT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GETCOMBOPRODUCTBASEDPRODUCT" />
		<add key="PRODUCTGETCONTRACT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GetProductContract" />
		<add key="CONTRACTGETCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GetContract" />
		<add key="CUSTOMERGETCONTRACT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GETCustomerContract" />
		<add key="CUSTOMERGETCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GETCustomer" />
		<add key="CUSTOMERGETPRODUCT" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GETCustomerProduct" />
		<add key="GETMATERIALSCOMBO" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractExpiryReport/GetSMITEMS" />
		<add key="SERVICEPRODUCTREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/BillableNonBillableReport/BILLABLENONBILLABLEREPORTPDF" />
		<add key="SERVICEPRODUCTREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/BillableNonBillableReport/BILLABLENONBILLABLEREPORTLISTVIEW" />
		<add key="SUBORDINATEREPORT" value="https://yogeshkumar15-001-site1.site4future.com/api/ManagerReport/MANAGERSUBORDINATEREPORTPDF" />
		<add key="SUBORDINATEREPORTLISTVIEW" value="https://yogeshkumar15-001-site1.site4future.com/api/ManagerReport/MANAGERSUBORDINATEREPORTLISTVIEW" />

		<!--INCLUSION-->
		<add key="INCLUSIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/GetInclusion" />
		<add key="INCLUSIONGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/GetInclusionbyId" />
		<add key="INCLUSIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/Inclusion" />
		<add key="INCLUSIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/PutInclusion" />
		<add key="INCLUSIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/DeleteInclusion" />

		<!--CONTRACTINCLUSION-->
		<add key="CONTRACTINCLUSIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/GetContractInclusion" />
		<add key="CONTRACTINCLUSIONGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/GetContractInclusionbyId" />
		<add key="CONTRACTINCLUSIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/ContractInclusion" />
		<add key="CONTRACTINCLUSIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/PutContractInclusion" />
		<add key="CONTRACTINCLUSIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/DeleteContractInclusion" />

		<add key="VIEWLIST" value="https://yogeshkumar15-001-site1.site4future.com/api/Inclusion/ViewProductDetails" />


		<!--EXCLUSION-->
		<add key="EXCLUSIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetExclusion" />
		<add key="EXCLUSIONGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetExclusionbyId" />
		<add key="EXCLUSIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/Exclusion" />
		<add key="EXCLUSIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/PutExclusion" />
		<add key="EXCLUSIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/DeleteExclusion" />

		<!--CONTRACT EXCLUSION-->
		<add key="CONTRACTEXCLUSIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetContractExclusion" />
		<add key="CONTRACTEXCLUSIONGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetContractExclusionbyId" />
		<add key="CONTRACTEXCLUSIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/ContractExclusion" />
		<add key="CONTRACTEXCLUSIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/PutContractExclusion" />
		<add key="CONTRACTEXCLUSIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/DeleteContractExclusion" />


		<!--CONTRACTEXCLUSION-->
		<add key="CONTRACTEXCLUSIONGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetContractExclusion" />
		<add key="CONTRACTEXCLUSIONGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/GetContractExclusionbyId" />
		<add key="CONTRACTEXCLUSIONPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/ContractExclusion" />
		<add key="CONTRACTEXCLUSIONPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/PutContractExclusion" />
		<add key="CONTRACTEXCLUSIONDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Exclusion/DeleteContractExclusion" />


		<!--PARTY-->
		<add key="PARTYDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketParty/TicketDeleteParty" />
		<add key="PARTYPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketParty/TicketPostParty" />
		<add key="PARTYPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketParty/TicketPutParty" />
		<add key="PARTYGET" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketParty/TicketGetParty" />
		<add key="PARTYGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketParty/TicketGetbyidParty" />

		<!--SERVICEMATERIAL CONSUMPTION-->
		<add key="MATERIALCONSUMPTIONSERVICEGET" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/GetTicketServiceMaterial" />
		<add key="MATERIALCONSUMPTIONSERVICEPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/PostTicketServiceMaterial" />
		<add key="MATERIALCONSUMPTIONSERVICEBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/GetbyIDTicketServiceMaterial" />
		<add key="MATERIALCONSUMPTIONSERVICEPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/UpdateTicketServiceMaterial" />
		<add key="MATERIALCONSUMPTIONSERVICEDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/TicketMaterialConsumption/DeleteTicketServiceMaterial" />

		<!--Warranty PDF-->
		<add key="WARRANTYPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/WARRANTYPDF" />
		<add key="WARRANTYPDFTOEMAIL" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/SendWarrantyMail" />
		<add key="CUSTOMERINVOICEPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/INVOICEPDF" />


		<!--CONTRACTPRODUCT-->
		<add key="CONTRACTPRODUCTPOST" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractPost" />
		<add key="CONTRACTPRODUCTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractGet" />
		<add key="CONTRACTPRODUCTGETBYID" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractGetbyId" />
		<add key="CONTRACTPRODUCTPUT" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractPut" />
		<add key="CONTRACTPRODUCTDELETE" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractDelete" />
		<add key="CONTRACTINVOICEPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/CONTRACTINVOICEPDF" />

		<add key="GETContractProduct" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/GETContractProduct" />
		<add key="GETContractProductById" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/GETContractProductByID" />
		<add key="DELETEContractProduct" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/DeleteContractProduct" />
		<add key="PostContractProduct" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/PostContractsProduct" />
		<add key="PUTContractProduct" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/PutContractProduct" />


		<add key="ContractPDF" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/CONTRACTPDF" />
		<add key="Contractheaderprocess" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/Contractheaderprocess" />
		<add key="ProductContractGetList" value="https://yogeshkumar15-001-site1.site4future.com/api/Contract/ProductContractGetList" />
		<add key="GETContractProductList" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/GETContractProductList" />
		<add key="SalesContractheaderunlock" value="https://yogeshkumar15-001-site1.site4future.com/api/ContractProduct/SalesContractheaderunlock" />

		<add key="INVOICEPAYMENT" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetSalesinvoicepayment" />
		<add key="CREATEINVOICEPAYMENT" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/PostSalesinvoicepayment" />
		<add key="TICKETCONTRACTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/Get" />
		<add key="TICKETCONTRACTGETPRODUCTS" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/Getcontractproducts" />
		<add key="TICKETSALESINVOICE" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetSalesInvoice" />

		<add key="LOCKLOGGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetLockLog" />
		<add key="ROLEDBASEDPRODUCTS" value="https://yogeshkumar15-001-site1.site4future.com/api/Customer/GetCustomerlistcombos" />
		<add key="SERVICEINVOICEPAYMENTGET" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetServiceinvoicepayment" />


		<add key="LOGINWELCOMENAME" value="https://yogeshkumar15-001-site1.site4future.com/api/Login/GetUserRoleCode" />
		<add key="RECENTTICKETSSA" value="https://yogeshkumar15-001-site1.site4future.com/api/Ticket/GetRecentTicket" />
	

  </appSettings>
  <system.web>
	  <sessionState
	 timeout="60"
  />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  <pages>
      <namespaces>
        <add namespace="GridMvc" />
	  </namespaces>
    </pages>
  
	</system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.ProtectedData" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.4" newVersion="8.0.0.4" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.AccessControl" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.2" newVersion="10.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>